Repository llamasearchai/OpenGov-EarlyJapanese: changes, and which pre-commit hooks are due for each by the changed paths.
All: check-readme, security-scan

check-readme:
  name: Check README
  entry: python scripts/check_readme.py
  language: system
  pass_filenames: false

security-scan:
  name: Security Scan
  entry: python scripts/security_scan.py
  language: system
  pass_filenames: false

docs: Add comprehensive production-ready README
  README.md
Due: check-readme

docs: Add comprehensive CHANGELOG for v0.1.0
  CHANGELOG.md
Due: none

docs: Add comprehensive deployment guide
  DEPLOYMENT.md
Due: none

test: Achieve 91% test coverage with comprehensive test suite
  opengov_earlyjapanese/core/katakana.py
  tests/unit/test_api.py
  tests/unit/test_cli.py
  tests/unit/test_grammar.py
  tests/unit/test_kanji.py
  tests/unit/test_katakana.py
  tests/unit/test_logger.py
  tests/unit/test_main.py
  tests/unit/test_srs.py
Due: security-scan

docs: Update README with 91% test coverage achievement
  README.md
Due: check-readme

feat: Achieve 100% test coverage with comprehensive test suite
  README.md
  opengov_earlyjapanese/cli.py
  tests/unit/test_cli.py
  tests/unit/test_cli_complete.py
  tests/unit/test_cli_edge_cases.py
  tests/unit/test_cli_errors.py
  tests/unit/test_config.py
  tests/unit/test_logger_fallback.py
Due: check-readme, security-scan

release: Version 0.2.0 - 100% Test Coverage Achievement
  CHANGELOG.md
  DEPLOYMENT.md
  opengov_earlyjapanese/__init__.py
  opengov_earlyjapanese/config.py
  pyproject.toml
  tests/unit/test_api.py
  tests/unit/test_cli.py
  tests/unit/test_config.py
  uv.lock
Due: security-scan

Path conditions:
  check-readme: any of: README\.md$
  security-scan: any of: \.py$
